.detail-hero {
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(3 13 56 / 81%);
  }
}

.content-container {
  position: absolute;
  bottom: 0;
  left: 10px;
  top: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;

  .poster-div {
    height: 400px;
    max-width: 263px !important;
    background-size: cover !important;
    border-radius: 10px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
  }

  .languages {
    .mat-mdc-standard-chip {
      background: #741313;
    }
  }

  .rating {
    color: yellow;
    position: relative;
    top: 7px;
    margin-left: 30px;
  }
}

.pull-right {
  margin-left: auto;
}

.pull-center {
  margin: auto;
}
