<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign.xs="flex-end" class="logo-container pointer"><a routerLink="/">
      <div class="logo"><span class="name-text">M.</span>Movies</div>
    </a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" class="link-container">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li fxHide.xs><a class="pointer" routerLink="/top-rated">Top Rated</a></li>
      <li fxHide.xs><a class="pointer" routerLink="/trending">Trending</a></li>
      <li><button class="search-button" mat-icon-button (click)="onToggleSearch()">
          <mat-icon>search</mat-icon>
        </button></li>
    </ul>
  </div>
</mat-toolbar>
