<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <nx-maven-repo-app-sidenav-list (closeSidenav)="sidenav.close()"></nx-maven-repo-app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nx-maven-repo-app-header (sidenavToggle)="sidenav.toggle()" (searchToggle)="setSearchDisplay($event)"
      [searchOpen]="showSearch">
    </nx-maven-repo-app-header>
    <main>
      <mat-form-field class="search-form" appearance="outline" *ngIf="showSearch">
        <input type="text" matInput [matAutocomplete]="movieSelect" [formControl]="searchCtrl" />
        <mat-icon matSuffix class="pointer" color="primary">search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #movieSelect="matAutocomplete"
          (optionSelected)="onOptionSelected($event)">
          <mat-option class="movie-option" *ngFor="let movie of movies" [value]="movie.title">
            <img class="table-pic" [src]="baseUrl+movie.poster_path" *ngIf="movie. poster_path; else noImg" />
            <ng-template #noImg>
              <img class="table-pic" src="assets/cinema.jpg" />
            </ng-template>
            <span class="movie-title">{{ movie.title }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
